<article class="main-post-content">
	<div class="title-text">
		<p>{{date}}</p>
	</div>

	<div class="primary-image">
		{{image}}
	</div>

	<div class="post-content">
		<p>{{body}}</p>
	</div>

	<div class="tags-post">

		{{categories}}

	</div>

	<div class="related-links">
		<h3>Enlaces Relacionados</h3>

		{{related_urls}}

	</div>

	{{comentarios}}
</article>
