          <div class="cont_post_card">

          <div class="post_card">
              <img class="img_post_card" src="{{img}}" alt="">
              <h4 class="date_post_card">{{  date }}</h4>
              <h3 class="title_post_card">{{title}}</h3>
              <p class="description_post_card"> {{ description}} </p>
              <div class="category_post_card">
                  <a class="category_post_element">{{categoryone}}</a> 
                  <a class="category_post_element">{{categorytwo}}</a> 
                  <a class="category_post_element">{{categorythree}}</a> 
              </div>
          </div>
      </div>