
    <div class="post_card">
        {{ image }}
        <h4 class="date_post_card"> {{date}}</h4>
        <h3 class="title_post_card"> {{title}}</h3>
        <p class="description_post_card">{{text}}</p>
        <div class="category_post_card">
            <a class="category_post_element">{{category}}</a>


        </div>
    </div>