    <div class="card">
        {# {{ image }}#}
        <div class="image-card">{#<img src="https://i.postimg.cc/XYPB8PZQ/1366-2000.jpg" alt="">#}</div>
        <div class="card-content">
            <p class='date'>{{date}} </p>
            
            <a href="{{ url }}" class="link-container">
            <h3>{{text_url}}</h3>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>

            <p class=''>{{description}} </p>
        </div>
        <div class="tags-post">
            <ul>
                <li><a href="hhtps://google.com">click1</a></li>
                <li><a href="hhtps://google.com">click2</a></li>
                <li><a href="hhtps://google.com">click3</a></li>
            </ul>
        </div>
    </div>