    <div class="card">
        
        <div class="image-card">{{ image }}</div>
        <div class="card-content">
            <p class='date'>{{date}} </p>
            
            <a href="{{ url }}" class="link-container">
            <h3>{{text_url}}</h3>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>

            <div class="card-description"><p>{{description}} </p></div>
            
        </div>
        <div class="tags-post">
            <ul>
                <li><a href="hhtps://google.com">{{tag0}}</a></li>
                <li><a href="hhtps://google.com">{{tag1}}</a></li>
                <li><a href="hhtps://google.com">{{tag2}}</a></li>
            </ul>
        </div>
    </div>